
.showbackground {
  
	padding: 0 4vw;
	height:95vh;
	/* overflow: hidden; */
	/* text-overflow:ellipsis; */
	position: auto;

}
.itemfilename{
	font-size:3.5vw;

}
.itemplay{
	font-size:3.5vw;
	display: flex;
	justify-content:space-between;
	/* grid-template-columns: 5fr 5fr 3fr 1fr; */
	width: 100%;
}
.itemplayIcon{
	display: flex;
	flex-grow:0;
	margin-left:auto;
	color: #108ee9;
}
.itemplayIcon:active{
	font-size:4vw;
	color: #888;
}
.cardheader.am-card-header-content{
	flex:7;
	color:red;
}


.moveDetailcontainer1 {
	display: flex;
	justify-content:space-between;
	/* grid-template-columns: 75% 20%; */
	margin: 0.5vw 0 0.5vw 0;
	color: black;
	white-space: nowrap;
    font-size: 4.5vw;
	height: 10vw;
	align-items:center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	/* text-overflow:ellipsis; */
    /* text-align: center; */
}

.moveDetailcontainer2 {
	display: flex;
	justify-content:space-between;
	align-items:flex-end;
	/* grid-template-columns:30% 68%; */
	/* grid-gap:2vw; */
	margin: 1vw 0 2vw 0;
	color: #888;
	/* line-height:2.2vw; */
	font-size:3.5vw;
	/* height: 20vw; */

}
.moveDetailtext-grid {
	display: flex;
	flex-flow:column ;
	justify-content: flex-start;
	/* width:100% */
	/* display: grid; */
	/* grid-template-columns: 1fr; */
}


.moveDetailimage {
    object-fit: contain;
	width: 100%
}

.moveDetailtext {
    color:#BEBEBE;
	
}
.movecasttextout{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	 text-align: left;
}
.moveDetailtextout{
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	padding:0 1vw 0 3vw;
	 text-align: left;
	 width:65vw
}
.close.icon {
  color: #FFFFFF;
  position: absolute;
  right:40px;
  top:10px;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
}
.close.icon:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close.icon:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 2px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.moveDetailitem {
	background-color:#484848 ;
	margin: 1vw 0;
	color:white;
	padding:0 0 0.2vw 0;
	grid-area:table;
	width:100%
}
.moveDetailitem:hover {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -moz-transform: scale(1.05);
    /* Firefox */
    -webkit-transform: scale(1.05);
    /* Safari 和 Chrome */
    -o-transform: scale(1.05);
    border: yellow solid 1px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.moveDetailitem-header{
	background-color:#333366 ;
	padding:0.5vw 0.5vw;
	color:white;
}
.moveDetailitem-grid{
	width:100%;
	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
	
	/* display: grid; */
	/* grid-template-columns:1fr 1fr; */
	padding:0.7vw 0.5vw;
	font-size:3.5vw;
	
}
.moveDetailitem-grid-item{
	flex: 0 0 50%;
}
.moveaudioDetailitem-ul{
	/* display: grid; */
	display: flex;
	align-content: flex-start;
	flex-flow: row wrap;
    /* justify-content: space-between; */
	font-size:3.5vw;
	list-style-type: none;
	padding:0;
	width:100%;
}
.moveDetailitem-subtitlelanguage-li{
	flex: 0 0 25%;
}

.moveDetail-ok{
	float:right;
	color:yellow;

}
.fontredcolor{
	color:red;
}

.moveDetailitem-li{
	flex: 0 0 50%;
}

.moveDetailitem-down{
	grid-area: b-down;
	margin:auto
}
.moveDetailitem-copy{
	grid-area: b-copy;
/* place-content :center; */
}
.moveDetailitem-tv{
	/* float:left; */
	padding:0.5vw 1vw;
	/* margin:0 1vw; */
	color:white;
}
.moveDetailitem-tvlist{
	display: flex;
	/* flex-direction: row; */
    /* flex-wrap: wrap; */
	flex-flow:row wrap
}
.moveDetailitem-tv:hover {
    background-color:#AAAAAA;

    border: yellow solid 1px;

}

.moveDetailitem-tv:visited{
	color:yellow;
}
.moveDetailitem-tvClick{
	/* background-color:yellow; */
	height: 100%;
	display: flex;
	align-items: center;
	margin-left:auto;
	justify-content: center;
	
/* padding:0.5vw 1vw; */
}
.moveDetailitem-tvClickonClick{
	background-color:#e6e5e8;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left:auto;
	justify-content: center;
	
/* padding:0.5vw 1vw; */
}
